.base-button
  color: #ffffff
  text-transform: uppercase
  font-weight: $font-weight-black
  font-size: 28px
  padding: 20px 80px
  cursor: pointer
  background: linear-gradient(to top, #23519c, #4e8bc3)
  border: 1px solid #4b79bb
  transition: opacity .3s ease
  display: inline-block
  +media-1300
    font-size: 23px
    padding: 15px 60px

  &:hover
    //background: linear-gradient(to bottom, #23519c, #4e8bc3)
    opacity: .7