.image-block
  width: 35%
  text-align: center
  +media-992
    margin-top: 50px
    margin-bottom: 50px

  +media-height-768
    width: 30%

  +media-1024
    width: 25%

  +media-992
    width: 100%

  img
    max-width: 100%

  &__description
    color: #ffffff
    font-size: 14px
    line-height: 24px
    font-weight: $font-weight-light