.mlm-list
  color: #ffffff
  font-weight: $font-weight-light
  margin-top: 15px
  font-size: 18px
  +media-height-768
    margin-top: 0
  +media-1300
    font-size: 16px

  li
    text-align: center
    +media-height-768
      margin-bottom: -35px
      &:last-child
        margin-bottom: 0
    +media-768
      padding: 10px 0
    +media-640
      padding: 35px 0
    span
      display: inline-block
      vertical-align: middle
      +media-768
        font-size: 16px
      +media-640
        width: 100%
        text-align: center
        font-size: 18px
        margin-top: 20px
    &:before, &:after
      font-size: 80px
      line-height: 40px
      font-weight: $font-weight-black
      display: inline-block
      vertical-align: middle
      +media-768
        font-size: 48px
      +media-640
        text-align: center
        font-size: 80px
    &:nth-child(odd)
      &:before
        counter-increment: list-number
        content: counter(list-number)
        margin-right: 30px
        +media-1152
          margin-right: 10px
        +media-640
          margin-right: 0
    &:nth-child(even)
      +media-640
        display: flex
        flex-flow: column-reverse
      &:after
        counter-increment: list-number
        content: counter(list-number)
        margin-left: 30px
        +media-1152
          margin-left: 10px
        +media-640
          margin-left: 0
    &:nth-child(1)
      &:before
        background: url("blocks/mlm-list/first.png") no-repeat
          size: contain
          position: center
        padding: 40px 27px
        +media-768
          padding: 8px 15px
        +media-640
          padding: 29px 23px
    &:nth-child(2)
      padding-left: 260px
      +media-1152
        padding-left: 180px
      +media-768
        padding-left: 0
      &:after
        background: url("blocks/mlm-list/second.png") no-repeat
          size: contain
          position: center
        padding: 32px 19px
        +media-768
          padding: 20px 11px
        +media-640
          padding: 37px 11px
    &:nth-child(3)
      &:before
        background: url("blocks/mlm-list/third.png") no-repeat
          size: contain
          position: center
        padding: 38px 18px
        +media-768
          padding: 15px 10px
        +media-640
          padding: 43px 27px