.content-block
  height: 100%
  width: 100%
  padding-top: 85px
  position: relative
  +media-992
    padding-top: 120px
  +media-640
    padding-top: 150px

  &--columns
    display: flex
    flex-flow: row
    align-items: center
    +media-992
      flex-flow: column-reverse
      align-items: center

  &__button
    text-align: center
    margin-top: 20px