<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__left-part" data-aos="fade-right" data-aos-delay="100" data-aos-duration="700">
                <div class="header__logo">
                    <img src="${require('assets/images/logo.png')}" alt="">
                </div>
                <div class="header__logo-description">
                    Официальный партнер компании ZENNOA
                </div>
            </div>
            <div class="header__left-part" data-aos="fade-left" data-aos-delay="100" data-aos-duration="700">
                <div class="header__confirmed-site">
                    Официальный сайт Игоря Сазонова
                </div>
            </div>
        </div>
    </div>
</header>