h1
  font-size: 36px
  line-height: 30px
  font-weight: $font-weight-bold
  margin-bottom: 5px
  +media-1300
    font-size: 28px
  +media-768
    font-size: 32px
    line-height: normal
    margin-bottom: 30px

h2
  font-size: 28px
  line-height: 20px
  font-weight: $font-weight-semi-bold
  margin-bottom: 5px
  +media-1300
    font-size: 20px
  +media-768
    font-size: 24px
    line-height: normal

.fancy-title
  color: #ffffff
  background: url('core/fancy-title.png') no-repeat
    size: contain
    position: center
  padding: 15px 50px
  display: inline-block
  +media-800
    background: none
  +media-768
    padding: 0