@import "wrapper/index"
@import "container/index"
@import "header/index"
@import "content-block/index"
@import "image-block/index"
@import "list-block/index"
@import "mlm-list/index"
@import "decore-lines/index"


@import "ui-elements/index"


.mfp-fade.mfp-bg
  opacity: 0
  -webkit-transition: all 0.15s ease-out
  -moz-transition: all 0.15s ease-out
  transition: all 0.15s ease-out

.mfp-fade.mfp-bg.mfp-ready
  opacity: 0.8

.mfp-fade.mfp-bg.mfp-removing
  opacity: 0


.mfp-fade.mfp-wrap .mfp-content
  opacity: 0
  -webkit-transition: all 0.15s ease-out
  -moz-transition: all 0.15s ease-out
  transition: all 0.15s ease-out

.mfp-fade.mfp-wrap.mfp-ready .mfp-content
  opacity: 1

.mfp-fade.mfp-wrap.mfp-removing .mfp-content
  opacity: 0
