.header
  position: absolute
  left: 0
  top: 0
  width: 100%
  padding: 25px 0

  &__logo
    width: 120px
    img
      max-width: 100%

  &__logo-description
    color: #fff
    font-weight: $font-weight-light
    font-size: 16px
    line-height: 40px
    +media-768
      font-size: 13px

  &__inner
    display: flex
    justify-content: space-between
    align-items: center
    +media-640
      flex-flow: column
      align-items: flex-start

  &__confirmed-site
    color: #ffffff
    font-size: 18px
    line-height: 40px
    +media-768
      font-size: 12px
    &:before
      content: ''
      display: inline-block
      width: 35px
      height: 35px
      background: url('blocks/header/confirmed.png')
      background-size: cover
      vertical-align: middle
      margin-bottom: 5px
      margin-right: 15px
      +media-768
        width: 25px
        height: 25px
        margin-right: 7px