{% extends "layouts/layout.njk" %}

{% block content %}
<div class="container">
    <div class="decore-line"></div>
    <div class="decore-line"></div>
    <div class="decore-line"></div>
    <div class="decore-line"></div>
    <div class="decore-line"></div>
    <div class="decore-line"></div>
    <div class="content-block content-block--columns">
        <div class="image-block" data-aos="fade-right" data-aos-delay="700" data-aos-duration="700">
            <img src="${require('assets/images/face.png')}" alt="">
            <div class="image-block__description">
                Сазонов Игорь Михайлович<br/>
                Основатель системы "МЛМ - это просто!"
            </div>
        </div>
        <div class="list-block">
            <div class="list-block__title">
                <h1 class="fancy-title" data-aos="fade-down" data-aos-delay="1000" data-aos-duration="700">Зарабатывать на МЛМ просто! Расскажу как</h1>
                <h2 class="fancy-title" data-aos="fade-down" data-aos-delay="1500" data-aos-duration="700">От успеха отделяют всего 3 простых шага!</h2>
            </div>
            <ul class="mlm-list" id="mlm-list">
                <li data-aos="fade-left" data-aos-delay="2000" data-aos-duration="700" data-aos-offset="10"><span>Нажмите на кнопку внизу страницы и посмотрите видео-обращение</span></li>
                <li data-aos="fade-right" data-aos-delay="2000" data-aos-duration="700" data-aos-offset="10"><span>Выполни иструкции в обращении и перейди по ссылке</span></li>
                <li data-aos="fade-left" data-aos-delay="2000" data-aos-duration="700" data-aos-offset="10" id="mlm-list-3"><span>Начни зарабатывать деньги вместе со мной и другими!</span></li>
            </ul>
            <div class="content-block__button" data-aos="fade-up" data-aos-delay="2000" data-aos-duration="1500" data-aos-offset="10" data-aos-anchor="#mlm-list-3" data-aos-anchor-placement="top-bottom">
                <button type="button" class="base-button popup-youtube">Смотреть видео</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}