.decore-line
  position: absolute
  width: 1px
  background: #ffffff
  opacity: .4
  +media-992
    display: none

  &:nth-child(1)
    left: 0
    height: 0
    transition: height 1.5s ease-out
    &.animate
      height: 50%

  &:nth-child(2)
    left: 20%
    height: 0
    transition: height 1.5s ease-out
    &.animate
      height: 20%

  &:nth-child(3)
    left: 35%
    height: 0
    transition: height 1.5s ease-out
    &.animate
      height: 70%

  &:nth-child(4)
    left: 55%
    height: 0
    transition: height 1.5s ease-out
    &.animate
      height: 20%

  &:nth-child(5)
    right: 20%
    height: 0
    transition: height 1.5s ease-out
    &.animate
      height: 80%

  &:nth-child(6)
    right: 0
    height: 0
    transition: height 1.5s ease-out
    &.animate
      height: 47%